<h1>Beach Report</h1>
this page will have a list of the beaches that will be click'able and link to the  beaches surf report.

<h6>name of user</h6>

<h3>Cardiff Reef</h3> <h6>//click to get surf report for Cardiff reef </h6>

<h3>Blacks Beach</h3> <h6>//click to get surf report for Blacks Beach </h6>

<h3>Grandview</h3> <h6>//click to get surf report for Grandview </h6>

