<h1>session</h1>
this page will have all the previous sessions from the user.

<h6>sessions profile</h6>
<h6>name of user</h6>

<h3>Cardiff Reef</h3> <h6>//click to get previous saved Cardiff reef sessions</h6>

<h3>Blacks Beach</h3> <h6>//click to get previous saved Blacks Beach surf sessions</h6>

<h3>Grandview</h3> <h6>//click to get previous saved Grandview surf sessions</h6>
